
<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">Ecommerce</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/order" routerLink="active">Track Order</button>
  <button mat-button routerLink="/register" routerLink="active">Register</button>
  <button mat-button routerLink="/login" routerLink="active">Login</button>
</mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">Ecommerce</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/admin/dashboard" routerLink="active">Dashboard</button>
  <button mat-button routerLink="/admin/analytics" routerLink="active">Analytics</button>
  <button mat-button routerLink="/admin/category" routerLink="active">Category</button>
  <button mat-button routerLink="/admin/product" routerLink="active">Product</button>
  <button mat-button routerLink="/admin/orders" routerLink="active">Orders</button>
  <button mat-button routerLink="/admin/post-coupon" routerLink="active">Post Coupon</button>
  <button mat-button routerLink="/admin/coupons" routerLink="active">Coupons</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
 </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">Ecommerce</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/customer/dashboard" routerLink="active">Dashboard</button>
  <button mat-button routerLink="/customer/cart" routerLink="active">Cart</button>
  <button mat-button routerLink="/customer/my_orders" routerLink="active">Orders</button>
  <button mat-button routerLink="/customer/whislist" routerLink="active">Wishlist</button>
  <button mat-button routerLink="/customer/profile" routerLink="active">Profile</button>
  <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
</mat-toolbar>
</div>
<router-outlet></router-outlet>